.welcome-back {
  background-image: url("../../assets/images/home-background.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
  text-shadow: 5px 2px 5px rgb(29, 27, 29);
  font-weight: 900;
}

.welcome-front {
  /* box-shadow: 10px 10px 20px rgb(48, 43, 43); */
  /* background: rgba(2, 2, 2, 0.644); */
  border-radius: 10px;
  transition: 0.5s ease;
  text-align: center;
}

.myButton {
  padding: 10px 20px;
  font-size: 20px;
  margin-right: 10px;
  outline: none;
  color: #fff;
  border-radius: 10px;
  background: rgb(53, 49, 49);
  transition: 0.5s ease;
}

.myButton:hover {
  cursor: pointer;
  background: rgb(0, 0, 0);
}
