.welcome-back {
  background: radial-gradient(rgb(1, 0, 77), #28f);
  background-image: url("https://source.unsplash.com/1660x1160/?house");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  text-shadow: 5px 2px 5px rgb(29, 27, 29);
  font-weight: 500;
}

.welcome-front {
  box-shadow: 10px 10px 20px rgb(48, 43, 43);
  background: rgba(2, 2, 2, 0.644);
  border-radius: 10px;
  transition: 0.5s ease;
  text-align: center;
}

.myButton {
  padding: 15px 40px;
  font-size: 25px;
  border: 2px solid rgb(213, 196, 245);
  outline: none;
  color: #fff;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.486);
  transition: 0.5s ease;
}

.myButton:hover {
  font-size: 25px;
  background: rgba(213, 196, 245, 0.74);
}
